.carousel{
  height:300px;
}
.carousel_item{
  height: 100%;
  width: 100%;
}

.carousel_item.red{
  background-color: red
}

.carousel_item.black{
  background-color: black
}

.carousel_item.green{
  background-color: green
}