@import './normalize.css';

@font-face{
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/IndieFlower.ttf);
}
*{
  box-sizing: border-box;
}

html{
  background-color: #7DB9DE;
  background-image: url(./images/texture.png);
}
html,
body,
#root,
#root > div {
  height: 0;
  min-height: 100%;
	margin: 0;
	padding: 0;
}

a{
  text-decoration: none;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	appearance: none;
	font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
	outline: none;
}
